.container {
	width: 400px;
	padding: 0 10px 10px 10px;
}

.container.loading {
	width: auto;
	padding: 0;
}

.section {
	margin: 20px 0;
}

.section:nth-last-of-type(1) {
	margin-bottom: 0;
}

.drawer {
	padding: 10px 0;
	margin: 20px 0;
	border-top: 2px dashed #aaa;
	border-bottom: 2px dashed #aaa;
}

h3 {
	margin-top: 0;
}

/* FORM ELEMENTS */

label {
	font-weight: bold;
	display: block;
	margin: 10px 0 2px 0;
}

input[type=text], input[type=url], select {
	color: #999;
	font-size: 1.6em;
	border: 1px solid #eee;
	margin-right: 5px;
	border-radius: 5px;
	background-color: transparent;
	width: 80%;
}

input.twitter-typeahead {
	width: 100%;
}

input:focus, select:focus {
	outline: none;
	border: 1px solid #999;
}

.radio-inputs input {
	margin-right: 10px;
}

.radio-inputs label {
	display: inline-block;
}

button {
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 15px;
	padding: 5px 10px;
	letter-spacing: 0.05em;
}

button:focus {
	outline: none;
}

button.success {
	color: white;
	background-color: limegreen;
	border-color: green;
}

button.success:hover {
	background-color: green;
	border-color: darkgreen;
}

button.cancel {
	color: white;
	background-color: red;
	border-color: crimson;
}

button.cancel:hover {
	background-color: crimson;
	border-color: firebrick;
}

button:hover {
	background-color: #ddd;
}

.button {
	margin-top: 15px;
}

#new-relationship-btn {
	height: 40px;
	width: 200px;
	font-size: 1em;
	border-radius: 20px;
}


/* ENTITY */

.entity {
	width: 80%;
}


/* TYPEAHEAD ELEMENTS */

.typeahead {
	color: #999;
	display: block;
}

.typeahead.valid {
	color: black;
}

.tt-menu {
	background-color: white;
	padding: 0 10px;
	border: 1px solid #ebebeb;
	border-radius: 6px;
	display: block;
	width: 300px;
}

.tt-suggestion {
	display: block;
}

.entity-suggestion {
	margin: 10px 0;
	cursor: pointer;
}

.entity-suggestion:hover {
	background-color: yellow;
}

.entity-name {
	font-weight: bold;
}

.entity-blurb {
	color: #666;
}

.show-new-person-dialogue {
	font-weight: bold;
	cursor: pointer;
}


/* VALIDATION ICONS */

.message-icon {
}

.message-icon.invalid::before {
	content: "\f06a ";
	color: red;
}

.message-icon.invalid::after {
/*	content: "Please make a selection from the dropdown menu";
	font-size: .5em*/
}

.message-icon.valid::before {
	content: "\f058 ";
	color: limegreen;
}


/* FLASH MESSAGES */

.flash-message {
	padding: 10px;
}

.flash-message.warn {
	background-color: pink;
}

.flash-message.success {
	background-color: lightgreen;
}

.status-message.visible {
	padding: 10px 0;
	margin-top: 10px;
}